/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #FC7CB8;
    text-align: center
}

/* Barra de navegación */
header {
    background-color: #0a0689; /* Azul marino */
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 80px;
    border: 1px;
    border-radius: 50%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Define la animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Define la animación de desvanecimiento */
@keyframes fadeInImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Aplica la animación a la imagen */
.fade-in-image {
    opacity: 0; /* Inicialmente transparente */
    animation: fadeInImage 2s ease-in-out forwards; /* Animación de desvanecimiento */
}


/* Aplica la animación a la sección del banner */
.banner {
    background-image: url('bonappetit.PNG'); /* Banner imagen */
    background-size: cover;
    color: #fff;
    text-align: center;
    opacity: 0; /* Inicialmente transparente */
    animation: fadeIn 2s ease-in-out forwards; /* Animación de desvanecimiento */
}


.banner.visible {
    opacity: 1; /* Hacer el banner completamente visible */
  }

.banner-text h1 {
    font-family: 'Boldina', serif;
    font-size: 2.5em;
}

.banner-text p {
    font-size: 2.5em;
}


/* Productos */
.productos {
    padding: 40px 20px;    
}

.product-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 235px;
    height: 460px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 200px; 
    border-top-right-radius: 200px; 
}

.product-item h3 {
    font-family: 'Boldina', serif;
    color: #0A0689; /* Azul marino */
}

.product-item p {
    color: #666;
}

/* Cómo ordenar */
.ordenar {
    background-color: #c3eafa; /* Cian */
    padding: 20px;
    text-align: center;
    
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
    
}

select, input[type="file"], button {
    color: #0A0689; 
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(236, 128, 194, 0.397); /* Sombra suave */
    font-size: 15px;
    transition: all 0.3s ease; /* Efecto de transición */
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #0A0689; /* Azul marino */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px; 
    padding: 10px 20px;    
}

button:hover {
    background-color: #FC7CB8; 
}

/* Sección de Llamado a la Acción */
.cta {
    background-color: #0A0689; /* Fondo blanco para resaltar el contenido */
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ffffff; /* Borde azul marino */
    border-top-left-radius: 250px; 
    border-top-right-radius: 250px;
    background: #FC7CB8; /* Fondo blanco con transparencia */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.cta-image {
    width: 400px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin-bottom: 0px;
}

.cta-text h2 {
    font-family: 'Boldina', serif;
    font-size: 1.8em;
    color: #0a0689; /* Azul marino */
    margin: 0 0 10px;
}

.cta-text p {
    font-size: 1.2em;
    color: #ffffff;
    margin: 0;
}


/* Footer */
footer {
    background-color: #0A0689; /* Azul marino */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
